<!DOCTYPE html>
<head>
 
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSPINIA | Page</title>
 
    <!-- CSS Files -->
    <!-- links all from public/assets/css/  (compiled inspinia styling + own styling) -->

    <link href="/assets/css/inspinia/font-awesome/scss/font-awesome.css" rel="stylesheet">
    <link href="/assets/css/inspinia/scss/style.css" rel="stylesheet">
    <link href="/assets/css/sass/style.css" rel="stylesheet">
 
</head>
<body>
	<h1>Dashboard</h1>
</body>