.product-img {
	text-align: left;
}

.product-img > div {
	width: 32px;
	height: 32px;
	overflow: hidden;
}

.product-img img {
    width: 100%;
    border-radius: 0;
}

/* hide img label ˅˄ icons */
#product-img-label span.footable-sort-indicator:before {
	content: "";
}